html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
            90deg,
            rgba(48, 16, 255, 1) 0%,
            rgba(100, 115, 255, 1) 100%
    );
}

.todo {
    background: #161a2b;
    width: 520px;
    min-height: 600px;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

.todo__inner-form {
    padding-top: 32px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo__inner-form input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
    margin-top: 20px;
}

.todo__inner-form h1 {
    color: #fff;
    font-size: 24px;
}

.todo__inner-form input::placeholder {
    color: #e2e2e2;
}

.todo__inner-form__add, .todo__inner-form__edit {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}

.todo__inner-form__edit {
    background: linear-gradient(
            90deg,
            rgba(20, 159, 255, 1) 0%,
            rgba(17, 122, 255, 1) 100%
    );
}

.todo__inner-form .edit-input {
    border: 2px solid #149aff;
}

.todo__inner-list {
    padding: 20px;
    list-style: none;
}

.todo-row {
    padding: 15px;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 4px auto;
    background: linear-gradient(
            90deg,
            rgba(255, 118, 20, 1) 0%,
            rgba(255, 84, 17, 1) 100%
    );
    border-radius: 5px;
    width: 90%;
}

.todo-row:nth-child(4n + 1) {
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
}

.todo-row:nth-child(4n + 2) {
    background: linear-gradient(
            90deg,
            rgba(255, 12, 241, 1) 0%,
            rgba(250, 0, 135, 1) 100%
    );
}

.todo-row:nth-child(4n + 3) {
    background: linear-gradient(
            90deg,
            rgba(20, 159, 255, 1) 0%,
            rgba(17, 122, 255, 1) 100%
    );
}

.todo-row + .todo-row {
    margin-top: 10px;
}

.edit {
    cursor: pointer;
    position: absolute;
    right: 50px;
}

.delete {
    cursor: pointer;
    position: absolute;
    right: 20px;
}